@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Poppins:wght@300;700&display=swap');
:root{
    --maincolor:#13265c;
}
*{
    font-family: 'Libre Baskerville',
    serif;
    letter-spacing: 1px;
}
html {
    scroll-behavior: smooth;
}
.landing{
    width: 100%;
    height: 850vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    opacity: .6;
    pointer-events: none;
    display: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville',
    serif;
}
.main-page{
    height: 850vh;
    position: relative;
}
.full-page{
    position: absolute;
    left: 0;
    top: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    padding: 0 14px;
}
header , .main-section{
    background-image: linear-gradient(to right, rgb(186, 195, 216), #13265c);
}
a{
    text-decoration: none;
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 28px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: .3s;
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: rgb(133, 155, 207);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.scrollup{
    position: sticky;
    background-color: #ccc;
    left: 95%;
    top: 92%;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    display: none;
}
.scrollup i {
    position: absolute;
    left: 37%;
    top: 37%;
}
.scrollup:hover i{
    animation : moveup 0.6s linear infinite ;
}
/* animation */

@keyframes moveup {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
.img-holder{
    height: 280px;
}
.rehome-pet .container{
    width: 80%;
}

@keyframes slideInfromright{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.register-container{
    width: 500px;
    height: 600px;
    position: sticky;
    background-color: #fff;
    left: 50%;
    top:10%;
    transform: translateX(-50%);
    display: none;
    z-index: 4;
    padding-top: 15px;
    padding-left: 10px;
}
.register-holder{
    width: 100%;
}
.register-main{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}
.register-main a i{
    color: var(--maincolor);
    font-size: 20px;
}
.register-main h1{
    font-family: sans-serif;
    color: var(--maincolor);
    flex: 90%;
    padding-left: 110px;
}
.register-holder form{
    width: 80%;
    margin-left: 20px;
    overflow-y: scroll;
    height: 300px;
}
.register-holder form p{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.register-holder form input{
    width: 90%;
    margin: 7px auto 16px ;
    padding: 7px 5px;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.gender{
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.gender-title{
    padding-left: 27px;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
.gender input{
    margin-right: 8px;
}
.gender p{
    padding-right: 35px;
}
.register-holder input[type="submit"]{
    background-color: var(--maincolor);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 82%;
    margin-left: 15px;
    margin-top: 35px;
    padding: 8px 0;
    cursor: pointer;
}